@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* BACKGROUND & TEXT */
    --color-BGlight: hsl(231.4 84% 95.1%);
    --color-BGdark: hsl(228.6 84% 4.9%);
    --color-TEXTlight: hsl(225 83.3% 95.3%);
    --color-TEXTdark: hsl(228.6 84% 4.9%);

    /* PRIMARY THEME */
    --color-PRIMARY-50: hsl(229.1 47.8% 95.5%);
    --color-PRIMARY-100: hsl(228.6 46.7% 91.2%);
    --color-PRIMARY-200: hsl(227.1 48.8% 83.1%);
    --color-PRIMARY-300: hsl(226.2 49.6% 74.3%);
    --color-PRIMARY-400: hsl(225 50% 65.5%);
    --color-PRIMARY-500: hsl(223.1 45.4% 55.5%);
    --color-PRIMARY-600: hsl(223.3 37.1% 45.5%);
    --color-PRIMARY-700: hsl(222.6 39% 34.7%);
    --color-PRIMARY-800: hsl(222.4 40.8% 24.5%);
    --color-PRIMARY-900: hsl(222.9 45.5% 15.1%);
    --color-PRIMARY-950: hsl(222.9 50% 11%);

    /* SECONDARY THEME */
    --color-SECONDARY-50: hsl(177 100% 88.2%);
    --color-SECONDARY-100: hsl(177.3 100% 69%);
    --color-SECONDARY-200: hsl(178.1 85% 50.2%);
    --color-SECONDARY-300: hsl(178.2 85.2% 44.9%);
    --color-SECONDARY-400: hsl(178 86.3% 40.2%);
    --color-SECONDARY-500: hsl(178.1 87.7% 35.1%);
    --color-SECONDARY-600: hsl(178.1 90% 27.5%);
    --color-SECONDARY-700: hsl(178.1 94.1% 19.8%);
    --color-SECONDARY-800: hsl(178.2 94.2% 13.5%);
    --color-SECONDARY-900: hsl(178.3 94.6% 7.3%);
    --color-SECONDARY-950: hsl(177.4 100% 4.5%);

    /* ALERTS */
    --color-ERRORlight: hsl(349 98.9% 34.7%);
    --color-WARNlight: hsl(40.3 99% 59.6%);
    --color-WARNdark: hsl(32 99.2% 50%);
    --color-INFOlight: hsl(196.2 77.4% 54.9%);
    --color-INFOdark: hsl(195 100% 40%);
    --color-SUCCESSlight: hsl(144.3 100% 39.2%);
    --color-SUCCESSdark: hsl(143.5 98.4% 24.9%);

    /* ======== ReactNativeReusable/Tailwind Tokens ======== */

    --background: var(--color-BGlight);
    --foreground: var(--color-TEXTdark);

    --card: var(--color-PRIMARY-50);
    --card-foreground: var(--color-TEXTdark);

    --popover: var(--color-BGlight);
    --popover-foreground: var(--color-TEXTdark);

    --primary: var(--color-PRIMARY-900);
    --primary-foreground: var(--color-TEXTlight);

    --secondary: var(--color-SECONDARY-500);
    --secondary-foreground: var(--color-TEXTdark);

    --muted: var(--color-PRIMARY-100);
    --muted-foreground: var(--color-PRIMARY-800);

    --accent: var(--color-SECONDARY-100);
    --accent-foreground: var(--color-SECONDARY-900);

    --destructive: var(--color-ERRORlight);
    --destructive-foreground: var(--color-TEXTlight);

    --border: var(--color-PRIMARY-200);
    --input: var(--color-PRIMARY-200);
    --ring: var(--color-PRIMARY-400);

    --radius: 0.625rem;

    --chart-1: var(--color-PRIMARY-400);
    --chart-2: var(--color-SECONDARY-300);
    --chart-3: var(--color-SECONDARY-700);
    --chart-4: var(--color-PRIMARY-200);
    --chart-5: var(--color-PRIMARY-900);
  }

  /* ======== DARK MODE ======== */
  .dark:root {
    --background: var(--color-BGdark);
    --foreground: var(--color-TEXTlight);

    --card: var(--color-BGdark);
    --card-foreground: var(--color-TEXTlight);

    --popover: var(--color-BGdark);
    --popover-foreground: var(--color-TEXTlight);

    --primary: var(--color-PRIMARY-100);
    --primary-foreground: var(--color-TEXTdark);

    --secondary: var(--color-SECONDARY-400);
    --secondary-foreground: var(--color-TEXTdark);

    --muted: var(--color-PRIMARY-800);
    --muted-foreground: var(--color-PRIMARY-200);

    --accent: var(--color-SECONDARY-800);
    --accent-foreground: var(--color-SECONDARY-50);

    --destructive: var(--color-ERRORlight);
    --destructive-foreground: var(--color-TEXTlight);

    --border: var(--color-PRIMARY-800);
    --input: var(--color-PRIMARY-800);
    --ring: var(--color-PRIMARY-600);
    --radius: 0.625rem;

    --chart-1: var(--color-PRIMARY-400);
    --chart-2: var(--color-SECONDARY-200);
    --chart-3: var(--color-SECONDARY-700);
    --chart-4: var(--color-PRIMARY-300);
    --chart-5: var(--color-PRIMARY-950);
  }
}
